.header img {
  height: 250px;
  width: 15%;
  padding: 15px 30px 15px 30px;
}
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-text-stroke: 0.6px white;
  -moz-text-stroke: 0.6px white;
  font-size: 45px;
}
body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #555;
}
#main {
    width:900px; /* sets the width */
    margin:0 auto; /* centers the div on the page*/
    overflow:hidden;    /*makes the div surround the floated columns */
}
#one {
    float: left;
    width: 49%; /* each column is 49% leaving 2% width between */
    text-align: center; /* centers the photos */
}
#two {
    float: right;
    width: 49%;
    text-align: center;
}
p {
  font-family: "Lato", sans-serif;
  border: 1px dashed #777;
  color: #555;
  padding: 10px;
  text-align: center;
}
table {
	border: 1px dashed #777;
}
th {
	text-align: center;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 40px;
	border: 1px solid #777;
}
td {
	text-align: center;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	border: 1px solid #777;
}
.email:hover, .email a:hover {
	color: #ff9eb7;
	background-color: #999;
}
#flowers {
	padding: 10px;
	max-width: 500px;
	margin: 10px;
}
nav a, a {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover, a:hover {
  color: #ff9eb7;
}
ul {
  padding: 10px;
}
.ingredients li {
	margin: 0 15px 0 15px;
}
nav li {
  padding: 0 10px 0 10px;
  display: inline;
}
img {
    border: 1px dashed #777;
    opacity: 0.75;
    max-width: 99%;    /*keeps the photos from getting wider than the column width and allows for the border */
}
#column2 {
	width: 60%;
}
.pup {
	max-width: 400px;
}
footer {
	clear: both;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding-top: 110px;
  font-size: 12px;
  color: #777;
}
footer a {
  color: #222;
  text-decoration: none;
}
footer a:hover {
  font-weight: bold;

}
