.header img {
  height: 250px;
  width: 15%;
  padding: 15px 30px 15px 30px;
}
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-text-stroke: 0.6px white;
  -moz-text-stroke: 0.6px white;
  font-size: 45px;
}
body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #555;
}
p {
  font-family: "Lato", sans-serif;
  border: 1px dashed #777;
  color: #555;
  margin: 0 auto;
  max-width: 500px;
  padding: 5px;
}
.email:hover, .email a:hover {
	color: #ff9eb7;
	background-color: #999;
}
#flowers {
	padding: 10px;
	max-width: 500px;
	margin: 10px;
}
nav a, a {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover, a:hover {
  color: #ff9eb7;
}
ul {
  padding: 10px;
}
.ingredients li {
	margin: 0 15px 0 15px;
}
nav li {
  padding: 0 10px 0 10px;
  display: inline;
}
img {
  border: 1px dashed #777;
  opacity: 0.75;
}
.pup {
	max-width: 400px;
}
footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding-top: 110px;
  font-size: 12px;
  color: #777;
}
footer a {
  color: #222;
  text-decoration: none;
}
footer a:hover {
  font-weight: bold;

}
